---
import { Icon } from 'astro-icon/components';

interface Props {
	title: string;
	parent?: string;
	parentLink?: string;
}

const { title, parent, parentLink } = Astro.props;
---

<nav class="flex" aria-label="Breadcrumb">
	<ol class="mb-4 inline-flex items-center space-x-1 md:space-x-3">
		<li class="inline-flex items-center">
			<a
				href="/"
				class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white"
			>
				<Icon name="mdi:home" size="1.5em" class="mr-2.5 h-3 w-3" />
				Accueil
			</a>
		</li>
		{
			parent && (
				<li>
					<div class="flex items-center">
						<Icon name="mdi:chevron-right" size="1.5em" class="mx-1 h-3 w-3 text-gray-400" />
						<a
							href={parentLink}
							class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white md:ml-2"
						>
							{parent}
						</a>
					</div>
				</li>
			)
		}
		<li aria-current="page">
			<div class="flex items-center">
				<Icon name="mdi:chevron-right" size="1.5em" class="mx-1 h-3 w-3 text-gray-400" />
				<span class="ml-1 text-sm font-medium text-gray-700 dark:text-gray-400 md:ml-2"
					>{title}</span
				>
			</div>
		</li>
	</ol>
</nav>
