---
import { Icon } from 'astro-icon/components';

// https://jklakus.co.uk/blogs/astro-darktheme
---

<div class="block">
	<label
		class="flex h-8 w-8 cursor-pointer justify-center rounded-full bg-slate-100 text-fore-primary hover:bg-slate-200 dark:bg-slate-700 dark:hover:bg-slate-600/80"
		for="light-switch"
	>
		<button id="light-switch" aria-label="Dark mode toggle" transition:persist>
			<span class="sr-only">Switch to light / dark version</span>
			<Icon class="h-4 w-4 dark:hidden" name="line-md:sunny-loop" />
			<Icon class="hidden h-4 w-4 dark:block" name="line-md:moon-loop" />
		</button>
	</label>
</div>

<script>
	const darkButton = document.getElementById('light-switch');
	//Checks for localStorage of a theme, if so render the correct class and icon
	function checkTheme() {
		const currentTheme = localStorage.getItem('theme');
		if (currentTheme && currentTheme === 'dark') {
			document.documentElement.classList.add('dark');
		} else {
			document.documentElement.classList.remove('dark');
		}
	}

	// Runs the checkTheme function on page load
	window.addEventListener('load', checkTheme);

	//toggles theme with .btn click event using .dark theme class
	darkButton?.addEventListener('click', () => {
		const currentTheme = localStorage.getItem('theme');

		currentTheme === 'dark'
			? window.localStorage.setItem('theme', 'light')
			: window.localStorage.setItem('theme', 'dark');
		checkTheme();
	});

	//VIEWTRANSITION event listener that enables the checkTheme fuction to run on page transition
	document.addEventListener('astro:after-swap', checkTheme);
</script>
