---
interface Props {
	from?: string;
	to?: string;
}

const { from = 'from-sky-500', to = 'to-cyan-500' } = Astro.props;
---

<span class={`${from} ${to} bg-gradient-to-br bg-clip-text text-transparent`}>
	<slot />
</span>
