---
import Section from '@components/Section.astro';
import Socials from '@components/Socials.astro';
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

interface Props {
	heading?: string;
	subHeading?: string;
	avatar: ImageMetadata;
	socials: string;
}

const { heading, subHeading, avatar, socials } = Astro.props;
---

<Section>
	<div class="flex flex-1 flex-col gap-y-4 text-fore-primary">
		<h1 class="max-w-2xl text-4xl font-bold">
			{heading || <slot name="heading" />}
		</h1>
		<h2 class="mb-4 max-w-lg">
			{subHeading || <slot name="subHeading" />}
		</h2>
		<Socials
			resume="/assets/CV_FEREY.pdf"
			email="sferey.pro@gmail.com"
			github="Siniliote"
			linkedin="sferey"
		/>
	</div>
	<div class="relative mb-6 w-[80px] rounded-full sm:mb-0 sm:w-[186px]">
		<Image
			src={avatar}
			alt="Developer Avatar"
			height={186}
			width={186}
			quality={60}
			class="rounded-full"
			style={{
				maxWidth: '100%',
				height: 'auto',
			}}
		/>
	</div>
</Section>
