---
import type { HTMLAttributes } from 'astro/types';
import { classNames } from '@lib/classNames';

import { colorToClassMap, devColorToClassMap, DevTags } from '@configs/ColorPaths';

interface Props {
	name: keyof typeof DevTags;
	class?: string | undefined | null;
}

const attrs: HTMLAttributes<'span'> = {};

const { name, class: className } = Astro.props;
const devColorPath = colorToClassMap[devColorToClassMap[name]];

const extraClasses: string[] = ['w-fit text-lg font-medium me-2 px-2.5 py-0.5 rounded no-wrap'];
---

<span {...attrs} class={classNames(className, extraClasses, devColorPath)}>
	<slot />
</span>
